@model IEnumerable<LAN_File_Sharing_Application.Models.Images>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Upload your files here</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolderID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderID)
            </td>
            <td>
                <td style=" white-space:nowrap">

                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Images" asp-route-id="@item.ID">Delete</a>
                    <a class="btn btn-success btn-sm" asp-action="Download" asp-controller="Images" asp-route-id="@item.ID">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
